.logo-object svg {
    height: 100%;
    width: 225px;
    
}

.logo-object {
    margin-top: 10px;
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    padding-top: 0 !important;
}

.navbar-collapse .text-center .collapse .show {
    background: inherit;
}